* {
  margin: auto;
  box-sizing: border-box;

}

header .container {
  height: 250px;
  width: 1400px;
}

.title {
  font-size: 36px;
  margin-top: 100px;
  font-family: 'Raleway',
    sans-serif;
  text-align: center;
}

.element {
  width: 64px;
  height: 2px;
  margin-left: 668px;
  margin-top: 10px;
}

.subtitle {
  margin-top: 50px;
  color: #86878B;
  font-family: 'Open Sans',
    sans-serif;
  font-size: 14px;
  text-align: center;
}

main {
  width: 1400px;
  height: 670px;
}

.container-main {
  display: flex;
  justify-content: center;
  width: 1400px;
  height: 345px;
  margin: 0 auto;
}

.block-one {
  width: 350px;
  height: 225px;
}

.logo-lamp {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #e72424;
  line-height: 85px;
  margin: 0 auto;

}

.logo {
  margin-left: 20px;
}

.logo-key {
  margin-left: 16px;
}

.logo-li {
  margin-left: 25px;
}

.block-title {
  width: 189px;
  height: 29px;
  color: #333333;
  margin-left: 81px;
  font-size: 20px;
  font-family: 'Open Sans',
    sans-serif;
  font-weight: bold;
  margin-top: 30px;
}

.block-text {
  width: 350px;
  height: 60px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  font-family: 'Open Sans',
    sans-serif;
}

.block-two {
  width: 350px;
  height: 225px;
  margin-left: 32px;
}

.title-two {
  margin-left: 32px;
}

.logo-keyboard {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #e72424;
  line-height: 85px;
  margin: 0 auto;
}

.block-three {
  width: 350px;
  height: 225px;
  margin-left: 32px;
}

.logo-lightning {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #e72424;
  line-height: 85px;
  margin: 0 auto;
}

.section-two {
  width: 1400px;
  height: 326px;
  background: url(./img/fonsimage.png);
}

.h1-title {
  font-family: 'Raleway',
    sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  padding-top: 76px;
  color: #fff;
  text-align: center;
}

.line {
  border-top: 2px solid #fff;
  width: 64px;
  margin: 52px auto;
}

.subtitle-section {
  font-family: 'Raleway',
    sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: 300;
  margin-top: -15px;
}

.buttom {
  display: inline-block;
  width: 135px;
  padding: 11px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-family: 'Open Sans',
    sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 35px auto;
}

.buttom:hover,
.button:active .buttom:focus {
  color: #000;
  cursor: pointer;
}

.footer {
  width: 1400px;
  height: 101px;
  background: #000000;
  margin: 0 auto;
}

.footer-links {
  width: 317px;
  height: 23px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 20px;
}

.links {
  display: flex;
}

li {
  font-size: 22px;
  color: #cccccc;
  padding: 10px;
}

.last-link {
  transform: rotate(50deg);
  padding-top: 19px;
  font-size: 20px;
  padding-left: 13px;
}

li>a:link,
li>a:active,
li>a:visited {
  color: #cccccc;
  text-decoration: none;
  cursor: pointer;
}
.footer-text{
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Open Sans',
  sans-serif;
  margin-top: 45px;
}